<%= content_for(:title, "Question | StackFlow") %>

<h1><%= link_to "StackFlow", root_path %></h1>

<h5> Here is another excellent question: </h5>

</br></br>
<h4><%= @question.title %></h4>

<hr>

<p><%= @question.text %></p></br>

<p><div class="minibox"><div class="ellipsis"><%= @user.name %></div></div></p>

<hr>
<h4><div class="answer_alert"></div></h4>

<%= link_to "Add Answer", new_question_answer_path(@question), id: "new_answer", remote: true %>

</br>
<hr>


<% if @question.answers %>
	<div class="show_answers">
	 <%= render @question.answers.order_by_upvotes %>
	 <%# Whenever render is passed a collection of objects, it will render a partial with the same name as the class of the objects in the collection. So this is equivalent to
	    <% @question.answers.each do |answer | %>
	       <%#= render 'answer' %>
	    <%# end %> 
	</div> 
<% end %>





