<%= content_for(:title, "Log In!") %>

<h1>Log In</h1>

<%= form_tag sessions_path do %>  <%#NOTE: using form_tag instead of form_for because we are not working off of a model here.We are going to the sessions_path, which will trigger the create action in the sessions controller.%>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>

<%= link_to "Home Page", root_path, :class => "btn btn-default" %>