
    <h4>  &nbsp;&nbsp;&nbsp;&nbsp;Answer </h4>
    <p><div class="minibox"><div class="ellipsis"><%= answer.show_user %></div></div> &nbsp;&nbsp;&nbsp;&nbsp;<%= answer.text %></p></br>
    <% if @current_user == @question_creator %>
       <div id ="<%= answer.id %>">
       	 <% if answer.chosen_answer == true %>
       	      <p> You have chosen this as the selected answer </p>
       	 <% else %>
    	     <%= form_for [@question, answer], remote: true do |f| %> 
      
                <%= f.hidden_field :chosen_answer, :value => true %> 
	            <%= f.submit "select as the best" %>
	         <% end %>
        <% end %>
      <div>
    <% end %>
    <hr>
  